nav ul {
  background-color: hsl(192, 81%, 14%);
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 5px 30px;
  text-decoration: none;
  color: hsl(18, 80%, 44%);
  font-size: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
nav a:hover {
  background-color: hsl(192, 81%, 5%);
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  background-color: hsl(192, 81%, 14%, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
