body {
  margin: 0;
  background-color: hsl(186, 100%, 3%);

  &::before {
    content: "";
    background-image: url(../img/domeViolin.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.3;
  }
}
.videoBackground {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-aspect-ratio: 16/9) {
  .videoBackground {
    width: 100%;
    height: auto;
  }
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 4%;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  color: hsl(18, 80%, 44%);
  width: 63%;
}
#containerDisplay {
  font-size: 8rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(47, 100%, 55%);
}
#display {
  margin: 11rem 0 0 0;
  font-size: 8rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(47, 100%, 55%);
}
.container {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: hsl(186, 100%, 7%);
}
.tabBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabBtn {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: hsl(18, 80%, 44%);
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  background-color: hsl(186, 100%, 8%);
  border: none;
  border-radius: 0.25rem;
}
.active {
  background-color: hsl(186, 100%, 6%);
}
#startBtn {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  min-width: 125px;
  border: none;
  border-radius: 0.5rem;
  color: hsl(18, 80%, 44%);
  cursor: pointer;
  background-color: hsl(192, 81%, 12%);
}
#stopBtn {
  font-size: 3rem;
  font-weight: bold;
  min-width: 125px;
  border: none;
  color: hsl(18, 80%, 44%);
  cursor: pointer;
  background-color: transparent;
}
dialog {
  width: 25rem;
  height: 80%;
  padding: 0;
  background-color: hsl(186, 100%, 5%);
  font-family: monospace;
  border-radius: 0.5rem;
  border: none;
  color: hsl(18, 80%, 44%);
}
.modalHeading {
  font-size: 1.25rem;
  border-bottom: 1px solid black;
  padding: 1rem;
}
.timeHeading {
  font-size: 1.2rem;
  padding: 1rem 0 0.5rem 1rem;
}

.modalInput {
  display: block;
  width: 5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: hsl(186, 8%, 65%);
  font-size: 1rem;
}
.timerLabel {
  display: inline-block;
  font-size: 1rem;
  padding-left: 1rem;
}

.hidden {
  display: none;
}
